{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 7
  },
  "env": {
    "mocha": true
  },
  "rules": {
    "max-len": ["error", 120],
    "import/no-extraneous-dependencies": ["error", {"peerDependencies": true}],
    "no-extra-parens": ["error", "all"],
    "no-console": "error",
    "valid-jsdoc": "error",
    "strict": ["error", "global"]
  }
}
